%fieldset
  = simple_form_for(@shelter) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :description, input_html: {rows: 10}
      = f.input :web_url
      = f.input :location
      = f.input :logo, as: :file

    .form-actions
      = f.button :submit
