%section
  %h1 Protectoras

  %table
    %tr
      %th Nombre
      %th Descripción
      %th Web
      %th Ubicación
      %th
      %th
      %th

    - @shelters.each do |shelter|
      %tr
        %td= shelter.name
        %td= shelter.description
        %td= shelter.web_url
        %td= shelter.location
        %td= link_to 'Ver', shelter
        %td= link_to 'Editar', edit_shelter_path(shelter)
        %td= link_to 'Borrar', shelter, :method => :delete, :data => { :confirm => '¿Estás seguro?' }

  %br

  = link_to 'Crear protectora', new_shelter_path