%section
  %h1 Protectoras de animales
  %hr

  %p
    ¿Quieres que te ayudemos con las adopciones y salgan aquí tus animales?
    = link_to 'Contáctanos', new_contact_path
  %p
    Quizás también te interesen nuestras
    = link_to 'ayudas para protectoras', page_path('ayudas-para-protectoras')

%section
  %table
    - @shelters.each do |shelter|
      %tr
        %td= image_tag shelter.logo(:thumb), alt: shelter.name if shelter.logo?
        %td= link_to shelter.name, shelter
        %td= link_to shelter.web_url, shelter.web_url
        %td= shelter.location
        - if policy(shelter).update?
          %td
            = link_to 'Editar', edit_shelter_path(shelter), class: 'control-link'
            - if policy(shelter).destroy?
              = link_to 'Borrar', shelter, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'control-link'

- if policy(Shelter).new?
  %section
    = link_to 'Crear protectora de animales', new_shelter_path, class: 'control-link'
