%section
  %h1 Protectoras de animales

  %table
    - @shelters.each do |shelter|
      %tr
        %td= image_tag shelter.logo(:thumb), alt: shelter.name if shelter.logo?
        %td= link_to shelter.name, shelter
        %td= link_to shelter.web_url, shelter.web_url
        %td= shelter.location
        -if current_admin_user
          %td= link_to 'Editar', edit_shelter_path(shelter)
          %td= link_to 'Borrar', shelter, :method => :delete, :data => { :confirm => '¿Estás seguro?' }
  %br

  = link_to 'Crear protectora', new_shelter_path if current_admin_user
