%section
  %p
    %b Nombre:
    = @shelter.name
  %p
    %b Descripción:
    = @shelter.description
  %p
    %b Web:
    = @shelter.web_url
  %p
    %b Ubicación:
    = @shelter.location

  = link_to 'Editar', edit_shelter_path(@shelter)
  \|
  = link_to 'Volver a lista', shelters_path
