%section
  - if @shelter.logo?
    %p= image_tag @shelter.logo(:show), alt: @shelter.name
  %p
    %b Nombre:
    = @shelter.name
  %p
    %b Web:
    = link_to @shelter.web_url, @shelter.web_url
  %p
    %b Ubicación:
    = @shelter.location
  %p
    %b Descripción:
    = @shelter.description

  - if policy(@shelter).update?
    = link_to 'Editar', edit_shelter_path(@shelter)
    \|
  = link_to 'Volver a lista', shelters_path
