%fieldset
  = simple_form_for(pet) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :status, collection: Pet.statuses.keys, label_method: ->(obj){ Pet.enum_to_s :status, obj }
      = f.input :specie, collection: Pet.species.keys, label_method: ->(obj){ Pet.enum_to_s :specie, obj }, as: :radio_buttons
      = f.input :breed
      = f.input :sex, collection: Pet.sexes.keys, label_method: ->(obj){ Pet.enum_to_s :sex, obj }, as: :radio_buttons
      = f.input :description, input_html: {rows: 10}
      = f.input :location
      = f.association :province, label_method: :ine_name
      = f.input :age, collection: Pet.ages.keys, label_method: ->(obj){ Pet.enum_to_s :age, obj }, as: :radio_buttons
      = f.input :size, collection: Pet.sizes.keys, label_method: ->(obj){ Pet.enum_to_s :size, obj }, as: :radio_buttons
      = f.input :more_info_url
      = f.input :urgent

    %hr
    %h6= t '.pictures'
    - i = 0
    .control-group
      .form-inputs
        = f.simple_fields_for :pet_pictures do |builder|
          - unless builder.object.new_record?
            - i += 1
            = builder.input :_destroy, as: :boolean, label: t('.destroy_picture', index: i)
            = link_to image_tag(builder.object.asset.url(:thumb)), builder.object.asset.url

      .form-inputs
        = f.simple_fields_for :pet_pictures do |builder|
          - if builder.object.new_record?
            - i += 1
            = builder.input :asset, as: :file, label: t('.picture', index: i)

    .form-actions
      = f.button :submit
