= simple_form_for(@pet) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :specie, collection: Pet.species.keys
    = f.input :breed
    = f.input :sex, collection: Pet.sexes.keys
    = f.input :description
    = f.input :location
    = f.input :age
    = f.input :size, collection: Pet.sizes.keys
    = f.input :more_info_url
    = f.input :urgent

  .form-actions
    = f.button :submit
