.modal
  = label_tag 'modal-1', '¡Quiero adoptarlo!', class: 'btn js-btn'
  = check_box_tag 'modal-1', nil, nil, class: 'modal-state'
  .modal-window
    .modal-inner
      %label.modal-close{for: "modal-1"}
      %h1
        = "¿Cómo adoptar a #{pet.name_formatted}?"
      %p ¡Muchas gracias por salvar a un animal!

      = render(pet.more_info_url? ? 'modal_url' : 'modal_contact')

      %p
        Una vez adoptado,
        %b
          escríbenos a
          = mail_to 'adopciones@barkibu.com'
          para conseguir 3 meses de consultas veterinarias gratis
        a través de
        = succeed '.' do
          = link_to 'Barkibu', 'http://www.barkibu.com'
