= link_to pet.adopt_specie_path, class: 'card', itemscope: true, itemtype: "http://schema.org/Article", itemprop: 'url' do
  - if pet.urgent?
    .ribbon-wrapper
      .ribbon URGENTE
  .card-image
    - if pet.pet_pictures.any?
      = image_tag pet.pet_pictures.first.asset.url(:home), itemprop: 'image'
    - else
      = image_tag('card-image-placeholder.png')
  .card-header{ itemprop: 'name' }
    = pet.name
  .card-copy= simple_format(truncate(pet.description, length: 230, separator: ' '))
  = render 'pets/stats', pet: pet
