= link_to pet.adopt_specie_path, class: 'card' do
  - if pet.urgent?
    .ribbon-wrapper
      .ribbon URGENTE
  - if pet.pet_pictures.any?
    .card-image
      = image_tag pet.pet_pictures.first.asset.url(:home)
  .card-header
    = pet.name
  .card-copy
    %p= simple_format(truncate(pet.description, length: 230, separator: ' '))
  = render 'pets/stats', pet: pet
