.card-stats
  %ul
    %li
      %span Raza
      = pet.breed.capitalize
    - if pet.age?
      %li
        %span Edad
        = pet.enum_to_s :age
    - if pet.sex
      %li
        %span Sexo
        = pet.enum_to_s :sex
    - if pet.size?
      %li
        %span Tamaño
        = pet.enum_to_s :size
    - if pet.location?
      %li
        %span Lugar
        = pet.location
    - if pet.province.name != pet.location
      %li
        %span Provincia
        = pet.province
