.card-stats
  %ul
    %li
      %span Raza
      = pet.breed.capitalize
    - if pet.age?
      %li
        %span Edad
        = pet.enum_to_s :age
    - if pet.sex
      %li
        %span= pet.sex_label
        = pet.enum_to_s :sex
    - if pet.size?
      %li
        %span Tamaño
        = pet.enum_to_s :size
    - if pet.location?
      %li
        %span Lugar de la adopción
        = pet.location_formatted
    - if pet.show_province?
      %li
        %span Provincia
        = pet.province
