%section
  %p#notice= notice
  .breadcrumb
    %a{:href => "javascript:void(0)"}
      = @pet.specie
    %a{:href => "javascript:void(0)"} 
      = @pet.breed
    %a{:href => "javascript:void(0)"} 
      = @pet.name

  .side-image
    .images-wrapper
    .content
      %h4
        = @pet.state
      %h4
        = @pet.urgent
      %h1 
        = @pet.name
      %p
        = @pet.description
      .card-stats
        %ul
          %li
            = @pet.breed
            %span raza
          - if @pet.age?
            %li
              = @pet.age
              %span Edad
          - if @pet.sex
            %li
              = @pet.sex
              %span Sexo
          - if @pet.size?
            %li
              = @pet.size
              %span Tamaño
          - if @pet.location?
            %li
              = @pet.location
              %span Lugar

      .adopt-buttons
        %button ¡Quiero ayudar a que otros lo adopten!
        .modal
          %label{:for => "modal-1"}
            .btn.js-btn ¡Quiero adoptarlo!
          %input#modal-1.modal-state{:type => "checkbox"}/
          .modal-window
            .modal-inner
              %label.modal-close{:for => "modal-1"}
              %h1
                = "¿Cómo adoptar a #{@pet.name}?"
              %p.intro En la siguiente dirección te indicarán los pasos a seguir.
              %p.body
                Información de adopción: 
                %a{:href => @pet.more_info_url}
                  = @pet.more_info_url
              %p ¡Muchas gracias por salvar un animal!
              %p Recuerda comunicarnos que lo has adoptado para recibir consultas veterinarias ilimitadas totalmente gratis.

  = link_to 'Edit', edit_pet_path(@pet)

  .line-behind-text
    %h6#er-toc-id-9.er_toc_tag 
      = "Otras mascotas en adopción en #{@pet.location}"
