- content_for :extra_css do
  = stylesheet_link_tag 'social-likes_flat'
- content_for :javascript do
  = javascript_include_tag 'social-likes.min'

  :javascript
    $(document).ready(function(){
    	$(".images-wrapper a").magnificPopup({
        type: 'image',
        gallery: {
          enabled: true
        }
      });
    });


- if current_admin_user
  %section
    = link_to 'Edit', edit_pet_path(pet)

%section
  .breadcrumb
    = link_to pet.specie_formatted, breadcrumb_specie_path(params)
    = link_to pet.province, breadcrumb_province_path(params)
    = link_to pet.breed_formatted, breadcrumb_breed_path(params)

  .side-image
    .images-wrapper
      - pet.pet_pictures.each do |picture|
        = link_to image_tag(picture.asset.url(:vertical)), picture.asset.url
    .content
      %h4
        = t "activerecord.attributes.pet.statuses.#{pet.status}"
      - if pet.urgent?
        %h4
          = t 'activerecord.attributes.pet.urgent'
      %h1
        = pet.name_formatted
      %p
        = simple_format pet.description
      = render 'stats', pet: pet

      .adopt-buttons
        = render 'modal' if pet.more_info_url?

        .social-likes{"data-title" => "Ayúdanos a adoptar a #{pet.name_formatted}", "data-url" => request.original_url }
          %h6 Quiero ayudar a que otros lo adopten
          %br
          .facebook{title: "Comparte el enlace en Facebook"} Facebook
          .twitter{"data-via" => "barkibu", title: "Comparte el enlace en Twitter"} Twitter
          .plusone{title: "Comparte el enlace en Google+"} Google+
          - if pet.pet_pictures.any?
            .pinterest{"data-media" => pet.pet_pictures.first.asset.url, title: "Comparte la imagen en Pinterest"} Pinterest

- unless pets.empty?
  %section
    .line-behind-text
      %h6#er-toc-id-9.er_toc_tag
        = "Otras mascotas en adopción en #{pet.province}"
    .cards
      = render pets
