.filter
  = label_tag t("activerecord.attributes.pet.#{ filter }")
  %div
    %ol
      - t("activerecord.attributes.pet.#{ filter.pluralize }").each do |k, v|
        %li
          = check_box_tag k
          = label_tag k, v

