= form_tag find_path, class: 'search-tools' do |f|
  = render 'search_box_filter', filter: 'specie'
  = render 'search_box_filter', filter: 'size'
  = render 'search_box_filter', filter: 'age'
  .trigger= button_tag 'Buscar'
