= form_tag find_path, class: 'search-tools' do |f|
  .filter
    %label Especie
    %div
      %ol
        %li
          = check_box_tag :dog, '1', check_specie_dog?(params)
          = label_tag :dog, 'Perros'
        %li
          = check_box_tag :cat, '1', check_specie_cat?(params)
          = label_tag :cat, 'Gatos'

  = render 'search_box_filter', filter: 'size'
  = render 'search_box_filter', filter: 'age'
  - province_options = options_from_collection_for_select(Province.all, :slug, :name, params[:province])
  = render 'search_box_dropdown', field: 'province', options: province_options, prompt: 'Seleccionar'
  .trigger= button_tag submit_serch_text(params[:specie])
