%section
  .intro-text
    %h3= title
    %h4= SEO.extra_title(Specie.find_by_specie(params[:specie]))
    %p
      BarkiAdopta es el primer buscador de mascotas en adopción de España, puedes buscar entre miles de perros, gatos y otros animales de todas las protectoras de España.
%section
  .line-behind-text
    %h6.er_toc_tag Usa nuestro Buscador de mascotas adorables
  = render "search_box"
%section
  .cards
    = render pets
  = paginate pets

%section
  .line-behind-text
    %h6.er_toc_tag Ventajas de adoptar a una mascota frente a comprarla
  = render "benefits"
