%section
  .intro-text
    %h3= title
    %h4= SEO.extra_title(Specie.find_by_specie(params[:specie]))
    %p
      Ahora con barkiAdopta puedes buscar entre cientos de perros, gatos y otros animales de todas las protectoras de España. Así encontrás a tu mascota ideal.
      %a{:href => "javascript:void(0)"}
        Leer más
        %span »
%section
  .line-behind-text
    %h6.er_toc_tag Usa nuestro Buscador de mascotas adorables
  = render "search_box"
%section
  .cards
    = render pets
  = paginate pets

%section
  .line-behind-text
    %h6.er_toc_tag Ventajas de adoptar a una mascota frente a comprarla
  = render "benefits"
