- be_at_home = current_page?(controller: 'home', action: 'index')

= render 'hero_unit'

- if be_at_home
  %section
    .line-behind-text
      %h6.er_toc_tag Busca perros y gatos en adopción por provincia
    = render 'species_tabs'

%section
  .line-behind-text
    %h6.er_toc_tag
      - if be_at_home
        O usa
      - else
        Usa
      nuestro Buscador de mascotas adorables
  = render "search_box"

%section
  .cards
    = render pets
  = paginate pets

%section
  .line-behind-text
    %h6.er_toc_tag Ventajas de adoptar a una mascota frente a comprarla
  = render "benefits"
