- be_at_home = current_page?(controller: 'home', action: 'index')
%section
  .intro-text
    %h3= title
    %h1= SEO.extra_title(@specie)
    %p
      BarkiAdopta es el primer buscador de mascotas en adopci칩n de Espa침a, puedes buscar entre miles de perros, gatos y otros animales de todas las protectoras de Espa침a.

- if be_at_home
  %section
    .line-behind-text
      %h6.er_toc_tag Busca perros y gatos en adopci칩n por provincia
    = render 'species_tabs'

%section
  .line-behind-text
    %h6.er_toc_tag
      - if be_at_home
        O usa
      - else
        Usa
      nuestro Buscador de mascotas adorables
  = render "search_box"

%section
  .cards
    = render pets
  = paginate pets

%section
  .line-behind-text
    %h6.er_toc_tag Ventajas de adoptar a una mascota frente a comprarla
  = render "benefits"
