%section
  %h2= t('login')
  %fieldset
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, t('login')
  = render "devise/shared/links"

%section
  %article
    %h1 ¿Eres una asociación o protectora de animales?
    %hr
    %p Kiwokoadopta.org nace con la misión de conectar a protectoras, asociaciones de animales y demás entidades colaboradoras con aquellos interesados en sumar a un miembro más a la familia, para que aquellos animales que no lo han tenido fácil logren encontrar su hogar definitivo.
    %p Si quieres unirte a nuestra plataforma, es muy sencillo:

    %ol.numbered
      %li Regístrate pulsando el enlace de "Registro", introduciendo la dirección de email de tu asociación y contraseña.
      %li Recibirás un email pidiéndote que confirmes tu cuenta.
      %li Pasadas 72 horas, recibirás un segundo email cuando hayamos verificado que la información es correcta y tu cuenta haya sido activada.
      %li Entonces ya podrás publicar en la web.

    %hr/
    %p.author El equipo de Barkibu y Kiwoko
