%fieldset
  = simple_form_for(imported_pet) do |f|
    = f.error_notification

    .form-inputs
      = f.association :pet
      = f.input :data, input_html: {rows: 15}
      = f.input :logs, input_html: {rows: 10}

    .form-actions
      = f.button :submit
