%footer.footer
  .footer-logo
    = image_tag 'horizontal-blanco.png'
  .footer-links
    %ul
      %li
        %h3 Sobre BarkiAdopta
      %li
        = link_to 'Anunciar mascota', new_pet_path
      %li
        = link_to 'Contactar', new_contact_path
      %li
        = link_to 'Ayudas para protectoras', page_path('ayudas-para-protectoras')
      %li
        %a{href: "http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal"} Salud animal - Barkibu
    %ul
      %li
        %h3 Síguenos en Redes Sociales
      %li
        %a{href: "http://www.facebook.com/barkibu"} Facebook
      %li
        %a{href: "https://twitter.com/Barkibu"} Twitter
      %li
        %a{href: "http://www.pinterest.com/Barkibu_/"} Pinterest
    %ul
      %li
        %h3 Noticias y curiosidades
      %li= link_to 'Blog - Barkinews', 'http://www.barkinews.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Blog sobre mascotas'

  %hr/
  %p
    BarkiAdopta.org es una iniciativa sin ánimo de lucro de
    = link_to 'Barkibu consultas veterinarias online', 'http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Consulta un veterinario online las 24 horas'
