%footer.footer
  .footer-links
    %ul
      %li
        %h3 Sobre BarkiAdopta
      %li
        = link_to 'Anunciar mascota', new_pet_path, rel: 'nofollow'
      %li
        = link_to 'Contactar', new_contact_path, rel: 'nofollow'
      %li
        = link_to 'Ayudas para protectoras', page_path('ayudas-para-protectoras')
    %ul
      %li
        %h3 Sobre Barkibu
      %li
        = link_to 'Veterinario online', 'http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Consulta un veterinario online las 24 horas'
      %li
        = link_to 'Facebook', 'http://www.facebook.com/barkibu', title: 'Barkibu en Facebook'
      %li
        = link_to 'Twitter', 'http://twitter.com/barkibu', title: 'Barkibu en Twitter'
    %ul
      %li
        %h3 Sobre Kiwoko
      %li
        = link_to 'Kiwoko Mundo Animal', 'http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Todo lo que tu mascota necesita'
      %li
        = link_to 'Facebook', 'http://www.facebook.com/kiwoko', title: 'Kiwoko en Facebook'
      %li
        = link_to 'Twitter', 'http://twitter.com/kiwoko', title: 'Kiwoko en Twitter'

  %hr/
  %p
    BarkiAdopta.org es una iniciativa sin ánimo de lucro de Barkibu y Kiwoko
