%header.centered-navigation
  .centered-navigation-wrapper
    = link_to image_tag('barkibu-dog.png'), root_path, class: 'mobile-logo'
    %a.centered-navigation-menu-button{href: "javascript:void(0)"} MENÚ
    %ul.centered-navigation-menu
      %li.nav-link.logo
        = link_to image_tag('logo_kiwoko_blanco.png'), root_path, class: 'logo'
      %li.nav-link.more
        %a{href: "javascript:void(0)"}= pet_menu_title(@specie)
        %ul.submenu
          - pet_submenu_links(@specie).each do |link|
            %li= link
          %li= link_to '¿Por qué adoptar?', page_path('adoptar')
          %li= link_to 'Anunciar mascota', new_pet_path, rel: 'nofollow'
      %li.nav-link
        = link_to 'Protectoras de animales', page_path('ayudas-para-protectoras')

      - unless user_signed_in?
        %li.nav-link= link_to t('login'), new_user_session_path, rel: 'nofollow'
      - else
        %li.nav-link.more
          %a{href: "javascript:void(0)"} Opciones
          %ul.submenu
            - if policy(current_user).update?
              %li= link_to 'Perfil', edit_user_registration_path
            - if policy(:pets).admin?
              %li= link_to 'Administrar mascotas', admin_pets_path
            %li= link_to t('logout'), destroy_user_session_path, method: :delete
