%header.centered-navigation
  .centered-navigation-wrapper
    = link_to image_tag('logo_cortado_transparente.png'), root_path, class: 'mobile-logo'
    %a.centered-navigation-menu-button{href: ""} MENÚ
    %ul.centered-navigation-menu
      %li.nav-link
        = link_to 'Perros en adopción', breadcrumb_specie_path(specie: Specie.to_s(:dog))
      %li.nav-link
        = link_to 'Gatos en adopción', breadcrumb_specie_path(specie: Specie.to_s(:cat))
      %li.nav-link
        %a{href: "javascript:void(0)"} ¿Adoptar?
      %li.nav-link.logo
        = link_to image_tag('horizontal-color.png'), root_path, class: 'logo'
      %li.nav-link
        %a{href: "javascript:void(0)"} Nosotros
      %li.nav-link.more
        %a{href: "javascript:void(0)"} Para Protectoras
        %ul.submenu
          %li
            = link_to 'Protectoras de animales', shelters_path
          %li
            %a{href: "javascript:void(0)"} Another Item
          %li.more
            %a{href: "javascript:void(0)"} Item with submenu
            %ul.submenu
              %li
                %a{href: "javascript:void(0)"} Sub-submenu Item
              %li
                %a{href: "javascript:void(0)"} Another Item
          %li.more
            %a{href: "javascript:void(0)"} Another submenu
            %ul.submenu
              %li
                %a{href: "javascript:void(0)"} Sub-submenu
              %li
                %a{href: "javascript:void(0)"} An Item
      %li.nav-link
        - if user_signed_in?
          = link_to t('logout'), destroy_user_session_path, method: :delete
        - else
          = link_to t('login'), new_user_session_path
