!!! 5

%html{html_attrs('es')}
  %meta{charset: "utf-8"}/
  %meta{content: "NOODP", name: "ROBOTS"}/
  %meta{content: "initial-scale=1", name: "viewport"}/
  = favicon_link_tag 'favicon.ico'
  = display_meta_tags
  = stylesheet_link_tag :application, media: "all"
  = yield :extra_css
  = csrf_meta_tags
  %body{class: body_class}
    = render "layouts/header"
    = render "flashes"
    = yield
    = render "layouts/footer"
    = render "javascript"
